src/it/tsp/cloudstack/orbac/XOrbac/db_orbac_roles.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_hierarchy.xsd" />
    <xs:include schemaLocation=".\type_orbac_policy.xsd" />
    <xs:element name="ROLES">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="role" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="role_type">
                                <xs:sequence>
                                    <xs:element name="permissions" type="permission_type" minOccurs="0" maxOccurs="unbounded" />
                                    <xs:element name="exception" type="hold_type" minOccurs="0" maxOccurs="unbounded" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="role_hierarchy" type="sub_role_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="relevant_role" type="relevant_role_type" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
