src/it/tsp/cloudstack/orbac/XOrbac/db_orbac_concretes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_entity.xsd" />
    <xs:include schemaLocation=".\type_orbac_basic_groups.xsd" />
    <xs:element name="CONCRETE_ENTITIES">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SUBJECTS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="subject" type="subject_type" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ACTIONS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="action" type="action_type" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="OBJECTS">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="object" type="object_type" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
