src/it/tsp/cloudstack/orbac/XOrbac/db_orbac_views.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_hierarchy.xsd" />
    <xs:element name="VIEWS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="view" type="view_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="use" type="use_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="view_hierarchy" type="sub_view_type" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
