src/it/tsp/cloudstack/orbac/XOrbac/db_orbac_activities.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_hierarchy.xsd" />
    <xs:element name="ACTIVITIES">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="activity" type="activity_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="consider" type="consider_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="activity_hierarchy" type="sub_activity_type" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
