src/it/tsp/cloudstack/orbac/XOrbac/db_orbac_organizations.xsd

<?xml version="1.0"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:include schemaLocation="type_orbac_hierarchy.xsd" />
    <xs:element name="ORGANIZATIONS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="organization" type="organization_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="organization_hierarchy" type="sub_organizaton_type" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
