src/it/tsp/cloudstack/orbac/XOrbac/type_orbac_role.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_basic_groups.xsd" />
    <xs:complexType name="role_permissions_type">
        <xs:sequence>
            <xs:element name="role" type="role_type" />
            <xs:element name="permissions" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:group ref="policies" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
