src/it/tsp/cloudstack/orbac/XOrbac/type_orbac_basic.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="entity_id">
        <xs:annotation>
            <xs:documentation>It is an unique identifier of an entity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:unsignedLong" />
    </xs:simpleType>
    <xs:complexType name="id_entity_type">
        <xs:sequence>
            <xs:element name="id" type="entity_id" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attribute">
        <xs:annotation>
            <xs:documentation />
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="entity_info">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="atribute" type="attribute" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="entity_type">
        <xs:sequence>
            <xs:element name="id" type="entity_id" minOccurs="0" />
            <xs:element name="info" type="entity_info" minOccurs="0" />
            <xs:element name="mapping_info" type="entity_info" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="entity_id" />
    </xs:complexType>
</xs:schema>
