src/it/tsp/cloudstack/orbac/XOrbac/type_orbac_entity.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_basic.xsd" />
    <xs:complexType name="organization_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="context_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="role_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="activity_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="view_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="subject_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="action_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="object_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="constrain_def_type">
        <xs:complexContent>
            <xs:extension base="entity_type" />
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
