src/it/tsp/cloudstack/orbac/XOrbac/type_orbac_relation.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_entity.xsd" />
    <xs:complexType name="relevant_role_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="role" type="role_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
    <xs:complexType name="relevant_view_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="view" type="view_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
    <xs:complexType name="relevant_activity_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="activity" type="activity_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
    <xs:complexType name="relevant_context_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="context" type="context_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
    <xs:complexType name="empower_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="role" type="role_type" />
            <xs:element name="subject" type="subject_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
    <xs:complexType name="use_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="object" type="object_type" />
            <xs:element name="view" type="view_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
    <xs:complexType name="consider_type">
        <xs:sequence minOccurs="0">
            <xs:element name="organization" type="organization_type" />
            <xs:element name="activity" type="activity_type" />
            <xs:element name="action" type="action_type" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:unsignedLong" use="optional" />
    </xs:complexType>
</xs:schema>
