orbac/XOrbac/db_orbac_constrains.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.1.1.3301 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_constrains.xsd" />
    <xs:element name="CONSTRAINS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="constrain" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="constrain_def_type">
                                <xs:sequence>
                                    <xs:element name="constraint_rule" type="xs:string" minOccurs="0" />
                                    <xs:element name="constraint_elements" type="constrain_elements_type" />
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
