orbac/XOrbac/db_orbac_politics.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation=".\type_orbac_policy.xsd" />
    <xs:element name="POLITICS">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="permisions" type="permission_type" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="exceptions" type="hold_type" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
